@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
  body {
    @apply text-sm flex flex-col min-h-screen;
  }
}

@layer components {
  .section-content.table-wrap {
    @apply flex gap-x-4;
  }
  .section-content table {
    @apply w-1/2 text-sm leading-4 border-collapse border-spacing-0;
  }
  .section-content tr:nth-child(even) {
    @apply bg-highlight;
  }
  .section-content td {
    @apply align-top text-left p-1;
  }
  .section-content p,
  .section-content ul,
  .section-content ol {
    @apply mb-2.5;
  }
  .section-content ul,
  .section-content ol {
    @apply pl-3.5;
  }
  .section-content li {
    @apply mb-1.5;
  }
  .section-content ul li {
    @apply list-disc;
  }
  .section-content ol li {
    @apply list-decimal;
  }
  .section-content a {
    @apply text-primary;
  }
  .section-content h1,
  .section-content h2,
  .section-content h3,
  .section-content h4,
  .section-content h5,
  .section-content h6 {
    @apply mb-1.5 uppercase font-bold roboto-condensed;
  }
  .section-content .source,
  .section-content .source a {
    @apply roboto-condensed text-xs text-primarylight;
  }
}