@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@layer components {
  .section-content {
    @apply flex gap-x-4 pt-3;
  }
  .section-content table {
    @apply w-1/2 text-sm leading-4 border-collapse border-spacing-0;
  }
  .section-content tr:nth-child(even) {
    @apply bg-highlight;
  }
  .section-content td {
    @apply align-top text-left p-1;
  }
}