@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
