annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
distro==1.9.0
docutils==0.21.2
feedgenerator==2.1.0
fonttools==4.51.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
invoke==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
livereload==2.6.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
-e git+ssh://git@github.com/modelrecords/modelrecords.git@019928b5e5169e3078749d66a1284c9c3e675dad#egg=modelrecords
numpy==1.26.4
omegaconf==2.3.0
openai==1.30.3
ordered-set==4.1.0
packaging==24.0
pelican==4.9.1
pelican-redirect==1.0.2
pillow==10.3.0
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.18.0
pyparsing==3.1.2
pypdf==4.2.0
PyPDF2==3.0.1
pytailwindcss==0.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.2
rich==13.7.1
semantic-version==2.10.0
setuptools==70.0.0
six==1.16.0
sniffio==1.3.1
tornado==6.4
tqdm==4.66.4
typing_extensions==4.12.0
Unidecode==1.3.8
urllib3==2.2.1
watchfiles==0.21.0
wheel==0.43.0
