{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title | striptags }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<main>
  {% with heading=page.title %}
    {% include "includes/page_header.html" %}
  {% endwith %}

  <div class="pt-4 pb-20 px-4">
    {% with keys=repo.all_packages(), showSearch=true, showAllCardsLink=false %}
      {% include "includes/card_summary.html" %}
    {% endwith %}
  </div>
</main>
{% endblock %}
