{% set cardType='model' %}
{% set mr=repo.find(page.model_pkg_name) %} 
{% set model_upstream =  mr.params.mr.get('upstream', {}) %}
{% set model_relations = mr.params.mr.get('relations', {})%}
{% set model_model = mr.params.mr.get('model', {})%}

{% extends "card.html" %}
{% block title %}{{ mr.model_name | striptags }} - Model Card ({{ mr.params.type }}) {% endblock %}

{% block card_content_left %}
  <section class="mb-3.5">
    {% with heading="Model details" %}
      {% include "includes/section_heading.html" %}
    {% endwith %}
    <div class="section-content table-wrap">
      <table>
        <tbody>
          <tr>
            <td>Blackbox External Model Access</td>
            <td>{{ '&#10003;' if model_model.get('blackbox_external_model_access') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Capabilities demonstration</td>
            <td>{{ '&#10003;' if model_model.get('capabilities_demonstration') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Capabilities description</td>
            <td>{{ '&#10003;' if model_model.get('capabilities_description') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Centralized model documentation</td>
            <td>{{ '&#10003;' if model_model.get('centralized_model_documentation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Evaluation of capabilities</td>
            <td>{{ '&#10003;' if model_model.get('evaluation_of_capabilities') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>External model access protocol</td>
            <td>{{ '&#10003;' if model_model.get('external_model_access_protocol') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>External reproducibility of capabilities evaluation</td>
            <td>{{ '&#10003;' if model_model.get('external_reproducibility_of_capabilities_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>External reproducibility of intentional harm evaluation</td>
            <td>{{ '&#10003;' if model_model.get('external_reproducibility_of_intentional_harm_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>External reproducibility of mitigations evaluation</td>
            <td>{{ '&#10003;' if model_model.get('external_reproducibility_of_mitigations_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>External reproducibility of trustworthiness evaluation</td>
            <td>{{ '&#10003;' if model_model.get('external_reproducibility_of_trustworthiness_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>External reproducibility of unintentional harm evaluation</td>
            <td>{{ '&#10003;' if model_model.get('external_reproducibility_of_unintentional_harm_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Full external model access</td>
            <td>{{ '&#10003;' if model_model.get('full_external_model_access') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Inference compute evaluation</td>
            <td>{{ '&#10003;' if model_model.get('inference_compute_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Inference duration evaluation</td>
            <td>{{ '&#10003;' if model_model.get('inference_duration_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Input modality</td>
            <td>{{ '&#10003;' if model_model.get('input_modality') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Intentional harm evaluation</td>
            <td>{{ '&#10003;' if model_model.get('intentional_harm_evaluation') == 1 else '-' }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td>Limitations demonstration</td>
            <td>{{ '&#10003;' if model_model.get('limitations_demonstration') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Limitations description</td>
            <td>{{ '&#10003;' if model_model.get('limitations_description') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Mitigations demonstration</td>
            <td>{{ '&#10003;' if model_model.get('mitigations_demonstration') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Mitigations description</td>
            <td>{{ '&#10003;' if model_model.get('mitigations_description') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Mitigations evaluation</td>
            <td>{{ '&#10003;' if model_model.get('mitigations_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Model architecture</td>
            <td>{{ '&#10003;' if model_model.get('model_architecture') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Asset license</td>
            <td>{{ '&#10003;' if model_model.get('asset_license') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Model components</td>
            <td>{{ '&#10003;' if model_model.get('model_components') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Model size</td>
            <td>{{ '&#10003;' if model_model.get('model_size') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Output modality</td>
            <td>{{ '&#10003;' if model_model.get('output_modality') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Risks demonstration</td>
            <td>{{ '&#10003;' if model_model.get('risks_demonstration') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Risks description</td>
            <td>{{ '&#10003;' if model_model.get('risks_description') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Third party capabilities evaluation</td>
            <td>{{ '&#10003;' if model_model.get('third_party_capabilities_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Third party evaluation of limitations</td>
            <td>{{ '&#10003;' if model_model.get('third_party_evaluation_of_limitations') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Third party mitigations evaluation</td>
            <td>{{ '&#10003;' if model_model.get('third_party_mitigations_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Third party risks evaluation</td>
            <td>{{ '&#10003;' if model_model.get('third_party_risks_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Trustworthiness evaluation</td>
            <td>{{ '&#10003;' if model_model.get('trustworthiness_evaluation') == 1 else '-' }}</td>
          </tr>
          <tr>
            <td>Unintentional harm evaluation</td>
            <td>{{ '&#10003;' if model_model.get('unintentional_harm_evaluation') == 1 else '-' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="mb-3.5">
    {% with heading="Intended use" %}
      {% include "includes/section_heading.html" %}
    {% endwith %}
    <div class="section-content">
      {% set intended_use = model_upstream.get('intended_use', []) %}
      {% if intended_use %}
        <ul>
          {% for item in intended_use %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No intended use specified.</p>
      {% endif %}
    </div>
  </section>
  <section class="mb-3.5">
    {% with heading="Dependencies" %}
      {% include "includes/section_heading.html" %}
    {% endwith %}
    <div class="section-content">
      {% if model_relations %}
        {% set dependencies = model_relations.get('upstream', []) %}
        {% if dependencies %}
          <ul>
            {% for item in dependencies %}
              <li><a href="/{{ item }}/umr.html">{{ item }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No dependencies specified.</p>
        {% endif %}
      {% else %}
        <p>No dependencies specified.</p>
      {% endif %}
    </div>
  </section>
  <section class="mb-3.5">
    {% with heading="Metrics" %}
      {% include "includes/section_heading.html" %}
    {% endwith %}
    <div class="section-content">
      {% set metrics = model_upstream.get('metrics', []) %}
      {% if metrics %}
        <ul>
          {% for item in metrics %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No metrics specified.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block card_content_right %}
  <section class="mb-3.5">
    {% with heading="Environmental" %}
      {% include "includes/section_heading.html" %}
    {% endwith %}
    <div class="section-content">
      {% set environmental = model_upstream.get('environmental', []) %}
      {% if environmental.refs %}
        {% for item in environmental.refs %}
          <p class="source">Source: <a href="{{ item }}">{{ item }}</a></p>
        {% endfor %}
      {% else %}
        <p>No environmental refs specified.</p>
      {% endif %}
      {% with label="Carbon emitted (tCO2eq)", value=model_upstream.get('carbon_emissions') %}
        {% include "includes/section_metric.html" %}
      {% endwith %}
      {% with label="Energy usage", value=model_upstream.get('energy_usage'), unit="w" %}
        {% include "includes/section_metric.html" %}
      {% endwith %}
      {% with label="Compute usage", value=model_upstream.get('compute_usage') %}
        {% include "includes/section_metric.html" %}
      {% endwith %}
    </div>
  </section>
  <section class="mb-3.5">
    {% with heading="Ethical considerations" %}
      {% include "includes/section_heading.html" %}
    {% endwith %}
    <div class="section-content">
      {% set ethical_considerations = model_upstream.get('ethical_considerations', []) %}
      {% if ethical_considerations %}
        <ul>
          {% for item in ethical_considerations %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No ethical considerations specified.</p>
      {% endif %}
    </div>
  </section>
  <section class="mb-3.5 bg-highlight py-1 px-2.5">
    {% with heading="Recommendations", color="text-black", border="border-black" %}
      {% include "includes/section_heading.html" %}
    {% endwith %}
    <div class="section-content">
      {% set recommendations = model_upstream.get('recommendations', []) %}
      {% if recommendations %}
        <ul>
          {% for item in recommendations %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No recommendations specified.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
