{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<section id="content" class="body">
  <h1 class="font-bold">{{ page.title }}</h1>
  {{ page.content }}
  <ul>
    {% for item in repository_yaml_data %}
      <li>- <a href="{{item.pc.metadata.name.lower()}}_v{{item.pc.metadata.version}}/model.html" class="text-sky-400 underline">{{item.pc.metadata.name}} (v{{item.pc.metadata.version}})</a></li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
