<section class="bg-center" style="background-image: url(/theme/images/xavier-l-_3xRXB_CF5w-unsplash.jpg);">
    <div class="bg-black bg-opacity-70 w-full flex flex-col justify-center items-center min-h-[36rem]">
        <div class="max-w-2xl flex flex-col gap-y-8 text-center px-4">
            <h1 class="text-6xl font-bold text-primary drop-shadow-xl">{{ SITENAME }}</h1>
            <p class="text-2xl text-white drop-shadow-xl">Tracking models and their artifacts in a systematic, versionable, and open source repository.</p>
        </div>
    </div>
</section>