<section class="max-w-screen-lg w-full mx-auto">
    <h1 class="text-3xl mb-2">Create your own Unifed Model Record</h1>
    <div class="flex flex-col md:flex-row gap-x-8">
        <div class="flex flex-col gap-y-4 md:w-1/2">
            <p>The tool can be used to generate the following outputs: LaTeX, PDF, HTML and GraphViz</p>
            <ol class="flex flex-col gap-y-3 list-decimal list-inside">
                <li>Clone the <a href="https://github.com/modelrecords/exampleusage" class="text-primary">example repo</a>
                    {% with codeToRender="git clone git@github.com:modelrecords/exampleusage.git" %}
                        {% include "includes/code_snippet.html" %}
                    {% endwith %}
                </li>
                <li>Create a conda env
                    {% with codeToRender="conda env create -f environment.yml" %}
                        {% include "includes/code_snippet.html" %}
                    {% endwith %}
                </li>
                <li>Activate conda env
                    {% with codeToRender="conda activate modelrecords_exampleusage" %}
                        {% include "includes/code_snippet.html" %}
                    {% endwith %}
                </li>
                <li>Profit &#128640;</li>
            </ol>
        </div>
        <div class="md:w-1/2 pt-3">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cli.jpg" alt="Screenshot of code from the example repo" class="drop-shadow-2xl">
        </div>
    </div>
</section>