<section class="max-w-screen-lg mx-auto px-4">
    <h2 class="text-3xl mb-2">Summary</h2>
    <div class="flex flex-col md:flex-row gap-x-8">
        <div class="flex flex-col gap-y-4 md:w-1/2">
            <p>Model cards and system cards are considered the gold standard for pro- viding model-to-model comparisons between various foundation models. These tools enable good documentation for the system under question but often fall short of tracing the model genealogy, machine readability, providing reliable centralized management systems and fostering incentives for their creation. For example, tracing the provenance of foundation models and their derivatives is essential to managing licensing and legislative risks in the AI ecosystem, as it allows researchers to understand a model’s entire history and dependencies.</p>
            <p>It is also well known that such documents like model cards on HuggingFace are inconsistently produced in non-machine-readable formats, often with erroneous information or missing details.</p>
        </div>
        <div class="flex flex-col gap-y-4 md:w-1/2">
            <p>We argue these are symptoms of a deeper issue - that creating model cards or system cards is a manual process where human effort is duplicated and error-prone, notably when a new model inherits most of its design from a foundation model.</p>
            <p>To close this gap, we propose a machine-readable model specification format which can flexibly capture model information. Importantly, this format explicitly delineates the relationships between upstream and downstream models, as well as their associated data. To facilitate the adoption, we have released the Unified Model Record (UMR) repository, which serves as a semantically versioned repository of model specifications, enabling better traceability and transparency in the AI, while being user-friendly, thereby motivating machine learning practitioners to maintain documentation.</p>
        </div>
    </div>
</section>